In [3]:
# import pandas module
# import os module
import pandas as pd
import os as os
import pickle

In [4]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
path = '/Users/uyakut/Desktop/data_exercises/DENotebookWeek67/NOAALocations/data/locations_data_frame.pickle'
with open(path, 'rb') as f:
    data = pickle.load(f)

In [7]:
# Display the DataFrame
data.head()

,mindate,maxdate,name,datacoverage,id,source
0,1994-12-15,2024-12-05,"Boston, MA 02118",0.950,ZIP:02118,locations_10.json
1,1994-12-15,2024-12-05,"Roxbury, MA 02119",0.950,ZIP:02119,locations_10.json
2,1994-12-15,2024-12-05,"Roxbury Crossing, MA 02120",0.950,ZIP:02120,locations_10.json
3,1994-12-15,2024-12-05,"Dorchester, MA 02121",0.950,ZIP:02121,locations_10.json
4,1994-12-15,2024-12-05,"Dorchester, MA 02122",0.998,ZIP:02122,locations_10.json